<div class="container" ng-controller="mainSiteController">
	<section>
	  <div><h1>
	  	<small>{{article.articletitle}}</small></h1>
	  </div>
		<div>
		<iframe width="600" height="480" src="https://youtube.com/embed/6VMq_2lH-Qo?start=460&end=600" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
		</div>
	</section>
</div>
<!--
https://youtu.be/6VMq_2lH-Qo?t=342

<iframe width="854" height="480" src="https://www.youtube.com/embed/6VMq_2lH-Qo" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>